
body, html{
    overflow-y: hidden;
    margin: 0;
    overflow-x: hidden;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efebea', endColorstr='#bababa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.clear{clear: both}
.animated {
    -webkit-transition: all 800ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -moz-transition: all 800ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    -o-transition: all 800ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
    transition: all 800ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
}

.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    overflow: hidden;
    z-index: 99;

}

.transform {
    width: 100%;
    height: 1%;
    background: #00ada3;;
    top: 0;
}

.to_fill {
    color: #00ada3;
}

.to_background {
    background: #00ada3;
}


.hide_loader {
    height: 0;
    transform: translateY(-100%);
}


h1 span {
    font-size: 10vw;
    line-height: 8vw;
}

.realtime_text{
    position: relative;
    text-transform: uppercase;
}

@keyframes animateShadow {
    0% {

        text-shadow: 0px 0px #ed135c, -1px 1px #ed135c, -2px 2px #ed135c, -3px 3px #ed135c, -4px 4px #ed135c, -5px 5px #ed135c, -6px 6px #ed135c, -7px 7px #ed135c, -8px 8px #ed135c, -9px 9px #ed135c, -10px 10px #ed135c, -11px 11px #ed135c, -12px 12px #ed135c, -13px 13px #ed135c, -14px 14px #ed135c, -15px 15px #ed135c, -16px 16px #ed135c, -17px 17px #ed135c, -18px 18px #ed135c, -19px 19px #ed135c, -20px 20px #ed135c, -21px 21px #ed2f6f, -22px 22px #ed2f6f, -23px 23px #ed2f6f, -24px 24px #ed2f6f, -25px 25px #ed2f6f, -26px 26px #ed2f6f, -27px 27px #ed2f6f, -28px 28px #ed2f6f, -29px 29px #ed2f6f, -30px 30px #ed2f6f, -31px 31px #ed2f6f, -32px 32px #ed2f6f, -33px 33px #ed2f6f, -34px 34px #ed2f6f, -35px 35px #ed2f6f, -36px 36px #ed2f6f, -37px 37px #ed2f6f, -38px 38px #ed2f6f, -39px 39px #ed2f6f, -40px 40px #ed2f6f, -41px 41px #ed477e, -42px 42px #ed477e, -43px 43px #ed477e, -44px 44px #ed477e, -45px 45px #ed477e, -46px 46px #ed477e, -47px 47px #ed477e, -48px 48px #ed477e, -49px 49px #ed477e, -50px 50px #ed477e, -51px 51px #ed477e, -52px 52px #ed477e, -53px 53px #ed477e, -54px 54px #ed477e, -55px 55px #ed477e, -56px 56px #ed477e, -57px 57px #ed477e, -58px 58px #ed477e, -59px 59px #ed477e, -60px 60px #ed477e, -61px 61px #ed6b96, -62px 62px #ed6b96, -63px 63px #ed6b96, -64px 64px #ed6b96, -65px 65px #ed6b96, -66px 66px #ed6b96, -67px 67px #ed6b96, -68px 68px #ed6b96, -69px 69px #ed6b96, -70px 70px #ed6b96, -71px 71px #ed6b96, -72px 72px #ed6b96, -73px 73px #ed6b96, -74px 74px #ed6b96, -75px 75px #ed6b96, -76px 76px #ed6b96, -77px 77px #ed6b96, -78px 78px #ed6b96, -79px 79px #ed6b96, -80px 80px #ed6b96, -81px 81px #ed9ab6, -82px 82px #ed9ab6, -83px 83px #ed9ab6, -84px 84px #ed9ab6, -85px 85px #ed9ab6, -86px 86px #ed9ab6, -87px 87px #ed9ab6, -88px 88px #ed9ab6, -89px 89px #ed9ab6, -90px 90px #ed9ab6, -91px 91px #ed9ab6, -92px 92px #ed9ab6, -93px 93px #ed9ab6, -94px 94px #ed9ab6, -95px 95px #ed9ab6, -96px 96px #ed9ab6, -97px 97px #ed9ab6, -98px 98px #ed9ab6, -99px 99px #ed9ab6, -100px 100px #ed9ab6;
    }
    20% {
        text-shadow: 0px 0px #ed2f6f, -1px 1px #ed2f6f, -2px 2px #ed2f6f, -3px 3px #ed2f6f, -4px 4px #ed2f6f, -5px 5px #ed2f6f, -6px 6px #ed2f6f, -7px 7px #ed2f6f, -8px 8px #ed2f6f, -9px 9px #ed2f6f, -10px 10px #ed2f6f, -11px 11px #ed2f6f, -12px 12px #ed2f6f, -13px 13px #ed2f6f, -14px 14px #ed2f6f, -15px 15px #ed2f6f, -16px 16px #ed2f6f, -17px 17px #ed2f6f, -18px 18px #ed2f6f, -19px 19px #ed2f6f, -20px 20px #ed2f6f, -21px 21px #ed477e, -22px 22px #ed477e, -23px 23px #ed477e, -24px 24px #ed477e, -25px 25px #ed477e, -26px 26px #ed477e, -27px 27px #ed477e, -28px 28px #ed477e, -29px 29px #ed477e, -30px 30px #ed477e, -31px 31px #ed477e, -32px 32px #ed477e, -33px 33px #ed477e, -34px 34px #ed477e, -35px 35px #ed477e, -36px 36px #ed477e, -37px 37px #ed477e, -38px 38px #ed477e, -39px 39px #ed477e, -40px 40px #ed477e, -41px 41px #ed6b96, -42px 42px #ed6b96, -43px 43px #ed6b96, -44px 44px #ed6b96, -45px 45px #ed6b96, -46px 46px #ed6b96, -47px 47px #ed6b96, -48px 48px #ed6b96, -49px 49px #ed6b96, -50px 50px #ed6b96, -51px 51px #ed6b96, -52px 52px #ed6b96, -53px 53px #ed6b96, -54px 54px #ed6b96, -55px 55px #ed6b96, -56px 56px #ed6b96, -57px 57px #ed6b96, -58px 58px #ed6b96, -59px 59px #ed6b96, -60px 60px #ed6b96, -61px 61px #ed9ab6, -62px 62px #ed9ab6, -63px 63px #ed9ab6, -64px 64px #ed9ab6, -65px 65px #ed9ab6, -66px 66px #ed9ab6, -67px 67px #ed9ab6, -68px 68px #ed9ab6, -69px 69px #ed9ab6, -70px 70px #ed9ab6, -71px 71px #ed9ab6, -72px 72px #ed9ab6, -73px 73px #ed9ab6, -74px 74px #ed9ab6, -75px 75px #ed9ab6, -76px 76px #ed9ab6, -77px 77px #ed9ab6, -78px 78px #ed9ab6, -79px 79px #ed9ab6, -80px 80px #ed9ab6, -81px 81px #ed135c, -82px 82px #ed135c, -83px 83px #ed135c, -84px 84px #ed135c, -85px 85px #ed135c, -86px 86px #ed135c, -87px 87px #ed135c, -88px 88px #ed135c, -89px 89px #ed135c, -90px 90px #ed135c, -91px 91px #ed135c, -92px 92px #ed135c, -93px 93px #ed135c, -94px 94px #ed135c, -95px 95px #ed135c, -96px 96px #ed135c, -97px 97px #ed135c, -98px 98px #ed135c, -99px 99px #ed135c, -100px 100px #ed135c;
    }
    40% {
        text-shadow: 0px 0px #ed477e, -1px 1px #ed477e, -2px 2px #ed477e, -3px 3px #ed477e, -4px 4px #ed477e, -5px 5px #ed477e, -6px 6px #ed477e, -7px 7px #ed477e, -8px 8px #ed477e, -9px 9px #ed477e, -10px 10px #ed477e, -11px 11px #ed477e, -12px 12px #ed477e, -13px 13px #ed477e, -14px 14px #ed477e, -15px 15px #ed477e, -16px 16px #ed477e, -17px 17px #ed477e, -18px 18px #ed477e, -19px 19px #ed477e, -20px 20px #ed477e, -21px 21px #ed6b96, -22px 22px #ed6b96, -23px 23px #ed6b96, -24px 24px #ed6b96, -25px 25px #ed6b96, -26px 26px #ed6b96, -27px 27px #ed6b96, -28px 28px #ed6b96, -29px 29px #ed6b96, -30px 30px #ed6b96, -31px 31px #ed6b96, -32px 32px #ed6b96, -33px 33px #ed6b96, -34px 34px #ed6b96, -35px 35px #ed6b96, -36px 36px #ed6b96, -37px 37px #ed6b96, -38px 38px #ed6b96, -39px 39px #ed6b96, -40px 40px #ed6b96, -41px 41px #ed9ab6, -42px 42px #ed9ab6, -43px 43px #ed9ab6, -44px 44px #ed9ab6, -45px 45px #ed9ab6, -46px 46px #ed9ab6, -47px 47px #ed9ab6, -48px 48px #ed9ab6, -49px 49px #ed9ab6, -50px 50px #ed9ab6, -51px 51px #ed9ab6, -52px 52px #ed9ab6, -53px 53px #ed9ab6, -54px 54px #ed9ab6, -55px 55px #ed9ab6, -56px 56px #ed9ab6, -57px 57px #ed9ab6, -58px 58px #ed9ab6, -59px 59px #ed9ab6, -60px 60px #ed9ab6, -61px 61px #ed135c, -62px 62px #ed135c, -63px 63px #ed135c, -64px 64px #ed135c, -65px 65px #ed135c, -66px 66px #ed135c, -67px 67px #ed135c, -68px 68px #ed135c, -69px 69px #ed135c, -70px 70px #ed135c, -71px 71px #ed135c, -72px 72px #ed135c, -73px 73px #ed135c, -74px 74px #ed135c, -75px 75px #ed135c, -76px 76px #ed135c, -77px 77px #ed135c, -78px 78px #ed135c, -79px 79px #ed135c, -80px 80px #ed135c, -81px 81px #ed2f6f, -82px 82px #ed2f6f, -83px 83px #ed2f6f, -84px 84px #ed2f6f, -85px 85px #ed2f6f, -86px 86px #ed2f6f, -87px 87px #ed2f6f, -88px 88px #ed2f6f, -89px 89px #ed2f6f, -90px 90px #ed2f6f, -91px 91px #ed2f6f, -92px 92px #ed2f6f, -93px 93px #ed2f6f, -94px 94px #ed2f6f, -95px 95px #ed2f6f, -96px 96px #ed2f6f, -97px 97px #ed2f6f, -98px 98px #ed2f6f, -99px 99px #ed2f6f, -100px 100px #ed2f6f;
    }
    60% {
        text-shadow: 0px 0px #ed6b96, -1px 1px #ed6b96, -2px 2px #ed6b96, -3px 3px #ed6b96, -4px 4px #ed6b96, -5px 5px #ed6b96, -6px 6px #ed6b96, -7px 7px #ed6b96, -8px 8px #ed6b96, -9px 9px #ed6b96, -10px 10px #ed6b96, -11px 11px #ed6b96, -12px 12px #ed6b96, -13px 13px #ed6b96, -14px 14px #ed6b96, -15px 15px #ed6b96, -16px 16px #ed6b96, -17px 17px #ed6b96, -18px 18px #ed6b96, -19px 19px #ed6b96, -20px 20px #ed6b96, -21px 21px #ed9ab6, -22px 22px #ed9ab6, -23px 23px #ed9ab6, -24px 24px #ed9ab6, -25px 25px #ed9ab6, -26px 26px #ed9ab6, -27px 27px #ed9ab6, -28px 28px #ed9ab6, -29px 29px #ed9ab6, -30px 30px #ed9ab6, -31px 31px #ed9ab6, -32px 32px #ed9ab6, -33px 33px #ed9ab6, -34px 34px #ed9ab6, -35px 35px #ed9ab6, -36px 36px #ed9ab6, -37px 37px #ed9ab6, -38px 38px #ed9ab6, -39px 39px #ed9ab6, -40px 40px #ed9ab6, -41px 41px #ed135c, -42px 42px #ed135c, -43px 43px #ed135c, -44px 44px #ed135c, -45px 45px #ed135c, -46px 46px #ed135c, -47px 47px #ed135c, -48px 48px #ed135c, -49px 49px #ed135c, -50px 50px #ed135c, -51px 51px #ed135c, -52px 52px #ed135c, -53px 53px #ed135c, -54px 54px #ed135c, -55px 55px #ed135c, -56px 56px #ed135c, -57px 57px #ed135c, -58px 58px #ed135c, -59px 59px #ed135c, -60px 60px #ed135c, -61px 61px #ed2f6f, -62px 62px #ed2f6f, -63px 63px #ed2f6f, -64px 64px #ed2f6f, -65px 65px #ed2f6f, -66px 66px #ed2f6f, -67px 67px #ed2f6f, -68px 68px #ed2f6f, -69px 69px #ed2f6f, -70px 70px #ed2f6f, -71px 71px #ed2f6f, -72px 72px #ed2f6f, -73px 73px #ed2f6f, -74px 74px #ed2f6f, -75px 75px #ed2f6f, -76px 76px #ed2f6f, -77px 77px #ed2f6f, -78px 78px #ed2f6f, -79px 79px #ed2f6f, -80px 80px #ed2f6f, -81px 81px #ed477e, -82px 82px #ed477e, -83px 83px #ed477e, -84px 84px #ed477e, -85px 85px #ed477e, -86px 86px #ed477e, -87px 87px #ed477e, -88px 88px #ed477e, -89px 89px #ed477e, -90px 90px #ed477e, -91px 91px #ed477e, -92px 92px #ed477e, -93px 93px #ed477e, -94px 94px #ed477e, -95px 95px #ed477e, -96px 96px #ed477e, -97px 97px #ed477e, -98px 98px #ed477e, -99px 99px #ed477e, -100px 100px #ed477e;
    }
    80% {
        text-shadow: 0px 0px #ed9ab6, -1px 1px #ed9ab6, -2px 2px #ed9ab6, -3px 3px #ed9ab6, -4px 4px #ed9ab6, -5px 5px #ed9ab6, -6px 6px #ed9ab6, -7px 7px #ed9ab6, -8px 8px #ed9ab6, -9px 9px #ed9ab6, -10px 10px #ed9ab6, -11px 11px #ed9ab6, -12px 12px #ed9ab6, -13px 13px #ed9ab6, -14px 14px #ed9ab6, -15px 15px #ed9ab6, -16px 16px #ed9ab6, -17px 17px #ed9ab6, -18px 18px #ed9ab6, -19px 19px #ed9ab6, -20px 20px #ed9ab6, -21px 21px #ed135c, -22px 22px #ed135c, -23px 23px #ed135c, -24px 24px #ed135c, -25px 25px #ed135c, -26px 26px #ed135c, -27px 27px #ed135c, -28px 28px #ed135c, -29px 29px #ed135c, -30px 30px #ed135c, -31px 31px #ed135c, -32px 32px #ed135c, -33px 33px #ed135c, -34px 34px #ed135c, -35px 35px #ed135c, -36px 36px #ed135c, -37px 37px #ed135c, -38px 38px #ed135c, -39px 39px #ed135c, -40px 40px #ed135c, -41px 41px #ed2f6f, -42px 42px #ed2f6f, -43px 43px #ed2f6f, -44px 44px #ed2f6f, -45px 45px #ed2f6f, -46px 46px #ed2f6f, -47px 47px #ed2f6f, -48px 48px #ed2f6f, -49px 49px #ed2f6f, -50px 50px #ed2f6f, -51px 51px #ed2f6f, -52px 52px #ed2f6f, -53px 53px #ed2f6f, -54px 54px #ed2f6f, -55px 55px #ed2f6f, -56px 56px #ed2f6f, -57px 57px #ed2f6f, -58px 58px #ed2f6f, -59px 59px #ed2f6f, -60px 60px #ed2f6f, -61px 61px #ed477e, -62px 62px #ed477e, -63px 63px #ed477e, -64px 64px #ed477e, -65px 65px #ed477e, -66px 66px #ed477e, -67px 67px #ed477e, -68px 68px #ed477e, -69px 69px #ed477e, -70px 70px #ed477e, -71px 71px #ed477e, -72px 72px #ed477e, -73px 73px #ed477e, -74px 74px #ed477e, -75px 75px #ed477e, -76px 76px #ed477e, -77px 77px #ed477e, -78px 78px #ed477e, -79px 79px #ed477e, -80px 80px #ed477e, -81px 81px #ed6b96, -82px 82px #ed6b96, -83px 83px #ed6b96, -84px 84px #ed6b96, -85px 85px #ed6b96, -86px 86px #ed6b96, -87px 87px #ed6b96, -88px 88px #ed6b96, -89px 89px #ed6b96, -90px 90px #ed6b96, -91px 91px #ed6b96, -92px 92px #ed6b96, -93px 93px #ed6b96, -94px 94px #ed6b96, -95px 95px #ed6b96, -96px 96px #ed6b96, -97px 97px #ed6b96, -98px 98px #ed6b96, -99px 99px #ed6b96, -100px 100px #ed6b96;
    }
    100% {
        text-shadow: 0px 0px #ed135c, -1px 1px #ed135c, -2px 2px #ed135c, -3px 3px #ed135c, -4px 4px #ed135c, -5px 5px #ed135c, -6px 6px #ed135c, -7px 7px #ed135c, -8px 8px #ed135c, -9px 9px #ed135c, -10px 10px #ed135c, -11px 11px #ed135c, -12px 12px #ed135c, -13px 13px #ed135c, -14px 14px #ed135c, -15px 15px #ed135c, -16px 16px #ed135c, -17px 17px #ed135c, -18px 18px #ed135c, -19px 19px #ed135c, -20px 20px #ed135c, -21px 21px #ed2f6f, -22px 22px #ed2f6f, -23px 23px #ed2f6f, -24px 24px #ed2f6f, -25px 25px #ed2f6f, -26px 26px #ed2f6f, -27px 27px #ed2f6f, -28px 28px #ed2f6f, -29px 29px #ed2f6f, -30px 30px #ed2f6f, -31px 31px #ed2f6f, -32px 32px #ed2f6f, -33px 33px #ed2f6f, -34px 34px #ed2f6f, -35px 35px #ed2f6f, -36px 36px #ed2f6f, -37px 37px #ed2f6f, -38px 38px #ed2f6f, -39px 39px #ed2f6f, -40px 40px #ed2f6f, -41px 41px #ed477e, -42px 42px #ed477e, -43px 43px #ed477e, -44px 44px #ed477e, -45px 45px #ed477e, -46px 46px #ed477e, -47px 47px #ed477e, -48px 48px #ed477e, -49px 49px #ed477e, -50px 50px #ed477e, -51px 51px #ed477e, -52px 52px #ed477e, -53px 53px #ed477e, -54px 54px #ed477e, -55px 55px #ed477e, -56px 56px #ed477e, -57px 57px #ed477e, -58px 58px #ed477e, -59px 59px #ed477e, -60px 60px #ed477e, -61px 61px #ed6b96, -62px 62px #ed6b96, -63px 63px #ed6b96, -64px 64px #ed6b96, -65px 65px #ed6b96, -66px 66px #ed6b96, -67px 67px #ed6b96, -68px 68px #ed6b96, -69px 69px #ed6b96, -70px 70px #ed6b96, -71px 71px #ed6b96, -72px 72px #ed6b96, -73px 73px #ed6b96, -74px 74px #ed6b96, -75px 75px #ed6b96, -76px 76px #ed6b96, -77px 77px #ed6b96, -78px 78px #ed6b96, -79px 79px #ed6b96, -80px 80px #ed6b96, -81px 81px #ed9ab6, -82px 82px #ed9ab6, -83px 83px #ed9ab6, -84px 84px #ed9ab6, -85px 85px #ed9ab6, -86px 86px #ed9ab6, -87px 87px #ed9ab6, -88px 88px #ed9ab6, -89px 89px #ed9ab6, -90px 90px #ed9ab6, -91px 91px #ed9ab6, -92px 92px #ed9ab6, -93px 93px #ed9ab6, -94px 94px #ed9ab6, -95px 95px #ed9ab6, -96px 96px #ed9ab6, -97px 97px #ed9ab6, -98px 98px #ed9ab6, -99px 99px #ed9ab6, -100px 100px #ed9ab6;
    }
}

@keyframes animateShadow2 {
    0% {
        text-shadow: 0px 0px #3dada8, -1px 1px #3dada8, -2px 2px #3dada8, -3px 3px #3dada8, -4px 4px #3dada8, -5px 5px #3dada8, -6px 6px #3dada8, -7px 7px #3dada8, -8px 8px #3dada8, -9px 9px #3dada8, -10px 10px #3dada8, -11px 11px #3dada8, -12px 12px #3dada8, -13px 13px #3dada8, -14px 14px #3dada8, -15px 15px #3dada8, -16px 16px #3dada8, -17px 17px #3dada8, -18px 18px #3dada8, -19px 19px #3dada8, -20px 20px #3dada8, -21px 21px #34948f, -22px 22px #34948f, -23px 23px #34948f, -24px 24px #34948f, -25px 25px #34948f, -26px 26px #34948f, -27px 27px #34948f, -28px 28px #34948f, -29px 29px #34948f, -30px 30px #34948f, -31px 31px #34948f, -32px 32px #34948f, -33px 33px #34948f, -34px 34px #34948f, -35px 35px #34948f, -36px 36px #34948f, -37px 37px #34948f, -38px 38px #34948f, -39px 39px #34948f, -40px 40px #34948f, -41px 41px #2b7a76, -42px 42px #2b7a76, -43px 43px #2b7a76, -44px 44px #2b7a76, -45px 45px #2b7a76, -46px 46px #2b7a76, -47px 47px #2b7a76, -48px 48px #2b7a76, -49px 49px #2b7a76, -50px 50px #2b7a76, -51px 51px #2b7a76, -52px 52px #2b7a76, -53px 53px #2b7a76, -54px 54px #2b7a76, -55px 55px #2b7a76, -56px 56px #2b7a76, -57px 57px #2b7a76, -58px 58px #2b7a76, -59px 59px #2b7a76, -60px 60px #2b7a76, -61px 61px #246663, -62px 62px #246663, -63px 63px #246663, -64px 64px #246663, -65px 65px #246663, -66px 66px #246663, -67px 67px #246663, -68px 68px #246663, -69px 69px #246663, -70px 70px #246663, -71px 71px #246663, -72px 72px #246663, -73px 73px #246663, -74px 74px #246663, -75px 75px #246663, -76px 76px #246663, -77px 77px #246663, -78px 78px #246663, -79px 79px #246663, -80px 80px #246663, -81px 81px #1b4d4a, -82px 82px #1b4d4a, -83px 83px #1b4d4a, -84px 84px #1b4d4a, -85px 85px #1b4d4a, -86px 86px #1b4d4a, -87px 87px #1b4d4a, -88px 88px #1b4d4a, -89px 89px #1b4d4a, -90px 90px #1b4d4a, -91px 91px #1b4d4a, -92px 92px #1b4d4a, -93px 93px #1b4d4a, -94px 94px #1b4d4a, -95px 95px #1b4d4a, -96px 96px #1b4d4a, -97px 97px #1b4d4a, -98px 98px #1b4d4a, -99px 99px #1b4d4a, -100px 100px #1b4d4a;
    }
    20% {
        text-shadow: 0px 0px #34948f, -1px 1px #34948f, -2px 2px #34948f, -3px 3px #34948f, -4px 4px #34948f, -5px 5px #34948f, -6px 6px #34948f, -7px 7px #34948f, -8px 8px #34948f, -9px 9px #34948f, -10px 10px #34948f, -11px 11px #34948f, -12px 12px #34948f, -13px 13px #34948f, -14px 14px #34948f, -15px 15px #34948f, -16px 16px #34948f, -17px 17px #34948f, -18px 18px #34948f, -19px 19px #34948f, -20px 20px #34948f, -21px 21px #2b7a76, -22px 22px #2b7a76, -23px 23px #2b7a76, -24px 24px #2b7a76, -25px 25px #2b7a76, -26px 26px #2b7a76, -27px 27px #2b7a76, -28px 28px #2b7a76, -29px 29px #2b7a76, -30px 30px #2b7a76, -31px 31px #2b7a76, -32px 32px #2b7a76, -33px 33px #2b7a76, -34px 34px #2b7a76, -35px 35px #2b7a76, -36px 36px #2b7a76, -37px 37px #2b7a76, -38px 38px #2b7a76, -39px 39px #2b7a76, -40px 40px #2b7a76, -41px 41px #246663, -42px 42px #246663, -43px 43px #246663, -44px 44px #246663, -45px 45px #246663, -46px 46px #246663, -47px 47px #246663, -48px 48px #246663, -49px 49px #246663, -50px 50px #246663, -51px 51px #246663, -52px 52px #246663, -53px 53px #246663, -54px 54px #246663, -55px 55px #246663, -56px 56px #246663, -57px 57px #246663, -58px 58px #246663, -59px 59px #246663, -60px 60px #246663, -61px 61px #1b4d4a, -62px 62px #1b4d4a, -63px 63px #1b4d4a, -64px 64px #1b4d4a, -65px 65px #1b4d4a, -66px 66px #1b4d4a, -67px 67px #1b4d4a, -68px 68px #1b4d4a, -69px 69px #1b4d4a, -70px 70px #1b4d4a, -71px 71px #1b4d4a, -72px 72px #1b4d4a, -73px 73px #1b4d4a, -74px 74px #1b4d4a, -75px 75px #1b4d4a, -76px 76px #1b4d4a, -77px 77px #1b4d4a, -78px 78px #1b4d4a, -79px 79px #1b4d4a, -80px 80px #1b4d4a, -81px 81px #3dada8, -82px 82px #3dada8, -83px 83px #3dada8, -84px 84px #3dada8, -85px 85px #3dada8, -86px 86px #3dada8, -87px 87px #3dada8, -88px 88px #3dada8, -89px 89px #3dada8, -90px 90px #3dada8, -91px 91px #3dada8, -92px 92px #3dada8, -93px 93px #3dada8, -94px 94px #3dada8, -95px 95px #3dada8, -96px 96px #3dada8, -97px 97px #3dada8, -98px 98px #3dada8, -99px 99px #3dada8, -100px 100px #3dada8;
    }
    40% {
        text-shadow: 0px 0px #2b7a76, -1px 1px #2b7a76, -2px 2px #2b7a76, -3px 3px #2b7a76, -4px 4px #2b7a76, -5px 5px #2b7a76, -6px 6px #2b7a76, -7px 7px #2b7a76, -8px 8px #2b7a76, -9px 9px #2b7a76, -10px 10px #2b7a76, -11px 11px #2b7a76, -12px 12px #2b7a76, -13px 13px #2b7a76, -14px 14px #2b7a76, -15px 15px #2b7a76, -16px 16px #2b7a76, -17px 17px #2b7a76, -18px 18px #2b7a76, -19px 19px #2b7a76, -20px 20px #2b7a76, -21px 21px #246663, -22px 22px #246663, -23px 23px #246663, -24px 24px #246663, -25px 25px #246663, -26px 26px #246663, -27px 27px #246663, -28px 28px #246663, -29px 29px #246663, -30px 30px #246663, -31px 31px #246663, -32px 32px #246663, -33px 33px #246663, -34px 34px #246663, -35px 35px #246663, -36px 36px #246663, -37px 37px #246663, -38px 38px #246663, -39px 39px #246663, -40px 40px #246663, -41px 41px #1b4d4a, -42px 42px #1b4d4a, -43px 43px #1b4d4a, -44px 44px #1b4d4a, -45px 45px #1b4d4a, -46px 46px #1b4d4a, -47px 47px #1b4d4a, -48px 48px #1b4d4a, -49px 49px #1b4d4a, -50px 50px #1b4d4a, -51px 51px #1b4d4a, -52px 52px #1b4d4a, -53px 53px #1b4d4a, -54px 54px #1b4d4a, -55px 55px #1b4d4a, -56px 56px #1b4d4a, -57px 57px #1b4d4a, -58px 58px #1b4d4a, -59px 59px #1b4d4a, -60px 60px #1b4d4a, -61px 61px #3dada8, -62px 62px #3dada8, -63px 63px #3dada8, -64px 64px #3dada8, -65px 65px #3dada8, -66px 66px #3dada8, -67px 67px #3dada8, -68px 68px #3dada8, -69px 69px #3dada8, -70px 70px #3dada8, -71px 71px #3dada8, -72px 72px #3dada8, -73px 73px #3dada8, -74px 74px #3dada8, -75px 75px #3dada8, -76px 76px #3dada8, -77px 77px #3dada8, -78px 78px #3dada8, -79px 79px #3dada8, -80px 80px #3dada8, -81px 81px #34948f, -82px 82px #34948f, -83px 83px #34948f, -84px 84px #34948f, -85px 85px #34948f, -86px 86px #34948f, -87px 87px #34948f, -88px 88px #34948f, -89px 89px #34948f, -90px 90px #34948f, -91px 91px #34948f, -92px 92px #34948f, -93px 93px #34948f, -94px 94px #34948f, -95px 95px #34948f, -96px 96px #34948f, -97px 97px #34948f, -98px 98px #34948f, -99px 99px #34948f, -100px 100px #34948f;
    }
    60% {
        text-shadow: 0px 0px #246663, -1px 1px #246663, -2px 2px #246663, -3px 3px #246663, -4px 4px #246663, -5px 5px #246663, -6px 6px #246663, -7px 7px #246663, -8px 8px #246663, -9px 9px #246663, -10px 10px #246663, -11px 11px #246663, -12px 12px #246663, -13px 13px #246663, -14px 14px #246663, -15px 15px #246663, -16px 16px #246663, -17px 17px #246663, -18px 18px #246663, -19px 19px #246663, -20px 20px #246663, -21px 21px #1b4d4a, -22px 22px #1b4d4a, -23px 23px #1b4d4a, -24px 24px #1b4d4a, -25px 25px #1b4d4a, -26px 26px #1b4d4a, -27px 27px #1b4d4a, -28px 28px #1b4d4a, -29px 29px #1b4d4a, -30px 30px #1b4d4a, -31px 31px #1b4d4a, -32px 32px #1b4d4a, -33px 33px #1b4d4a, -34px 34px #1b4d4a, -35px 35px #1b4d4a, -36px 36px #1b4d4a, -37px 37px #1b4d4a, -38px 38px #1b4d4a, -39px 39px #1b4d4a, -40px 40px #1b4d4a, -41px 41px #3dada8, -42px 42px #3dada8, -43px 43px #3dada8, -44px 44px #3dada8, -45px 45px #3dada8, -46px 46px #3dada8, -47px 47px #3dada8, -48px 48px #3dada8, -49px 49px #3dada8, -50px 50px #3dada8, -51px 51px #3dada8, -52px 52px #3dada8, -53px 53px #3dada8, -54px 54px #3dada8, -55px 55px #3dada8, -56px 56px #3dada8, -57px 57px #3dada8, -58px 58px #3dada8, -59px 59px #3dada8, -60px 60px #3dada8, -61px 61px #34948f, -62px 62px #34948f, -63px 63px #34948f, -64px 64px #34948f, -65px 65px #34948f, -66px 66px #34948f, -67px 67px #34948f, -68px 68px #34948f, -69px 69px #34948f, -70px 70px #34948f, -71px 71px #34948f, -72px 72px #34948f, -73px 73px #34948f, -74px 74px #34948f, -75px 75px #34948f, -76px 76px #34948f, -77px 77px #34948f, -78px 78px #34948f, -79px 79px #34948f, -80px 80px #34948f, -81px 81px #2b7a76, -82px 82px #2b7a76, -83px 83px #2b7a76, -84px 84px #2b7a76, -85px 85px #2b7a76, -86px 86px #2b7a76, -87px 87px #2b7a76, -88px 88px #2b7a76, -89px 89px #2b7a76, -90px 90px #2b7a76, -91px 91px #2b7a76, -92px 92px #2b7a76, -93px 93px #2b7a76, -94px 94px #2b7a76, -95px 95px #2b7a76, -96px 96px #2b7a76, -97px 97px #2b7a76, -98px 98px #2b7a76, -99px 99px #2b7a76, -100px 100px #2b7a76;
    }
    80% {
        text-shadow: 0px 0px #1b4d4a, -1px 1px #1b4d4a, -2px 2px #1b4d4a, -3px 3px #1b4d4a, -4px 4px #1b4d4a, -5px 5px #1b4d4a, -6px 6px #1b4d4a, -7px 7px #1b4d4a, -8px 8px #1b4d4a, -9px 9px #1b4d4a, -10px 10px #1b4d4a, -11px 11px #1b4d4a, -12px 12px #1b4d4a, -13px 13px #1b4d4a, -14px 14px #1b4d4a, -15px 15px #1b4d4a, -16px 16px #1b4d4a, -17px 17px #1b4d4a, -18px 18px #1b4d4a, -19px 19px #1b4d4a, -20px 20px #1b4d4a, -21px 21px #3dada8, -22px 22px #3dada8, -23px 23px #3dada8, -24px 24px #3dada8, -25px 25px #3dada8, -26px 26px #3dada8, -27px 27px #3dada8, -28px 28px #3dada8, -29px 29px #3dada8, -30px 30px #3dada8, -31px 31px #3dada8, -32px 32px #3dada8, -33px 33px #3dada8, -34px 34px #3dada8, -35px 35px #3dada8, -36px 36px #3dada8, -37px 37px #3dada8, -38px 38px #3dada8, -39px 39px #3dada8, -40px 40px #3dada8, -41px 41px #34948f, -42px 42px #34948f, -43px 43px #34948f, -44px 44px #34948f, -45px 45px #34948f, -46px 46px #34948f, -47px 47px #34948f, -48px 48px #34948f, -49px 49px #34948f, -50px 50px #34948f, -51px 51px #34948f, -52px 52px #34948f, -53px 53px #34948f, -54px 54px #34948f, -55px 55px #34948f, -56px 56px #34948f, -57px 57px #34948f, -58px 58px #34948f, -59px 59px #34948f, -60px 60px #34948f, -61px 61px #2b7a76, -62px 62px #2b7a76, -63px 63px #2b7a76, -64px 64px #2b7a76, -65px 65px #2b7a76, -66px 66px #2b7a76, -67px 67px #2b7a76, -68px 68px #2b7a76, -69px 69px #2b7a76, -70px 70px #2b7a76, -71px 71px #2b7a76, -72px 72px #2b7a76, -73px 73px #2b7a76, -74px 74px #2b7a76, -75px 75px #2b7a76, -76px 76px #2b7a76, -77px 77px #2b7a76, -78px 78px #2b7a76, -79px 79px #2b7a76, -80px 80px #2b7a76, -81px 81px #246663, -82px 82px #246663, -83px 83px #246663, -84px 84px #246663, -85px 85px #246663, -86px 86px #246663, -87px 87px #246663, -88px 88px #246663, -89px 89px #246663, -90px 90px #246663, -91px 91px #246663, -92px 92px #246663, -93px 93px #246663, -94px 94px #246663, -95px 95px #246663, -96px 96px #246663, -97px 97px #246663, -98px 98px #246663, -99px 99px #246663, -100px 100px #246663;
    }
    100% {
        text-shadow: 0px 0px #3dada8, -1px 1px #3dada8, -2px 2px #3dada8, -3px 3px #3dada8, -4px 4px #3dada8, -5px 5px #3dada8, -6px 6px #3dada8, -7px 7px #3dada8, -8px 8px #3dada8, -9px 9px #3dada8, -10px 10px #3dada8, -11px 11px #3dada8, -12px 12px #3dada8, -13px 13px #3dada8, -14px 14px #3dada8, -15px 15px #3dada8, -16px 16px #3dada8, -17px 17px #3dada8, -18px 18px #3dada8, -19px 19px #3dada8, -20px 20px #3dada8, -21px 21px #34948f, -22px 22px #34948f, -23px 23px #34948f, -24px 24px #34948f, -25px 25px #34948f, -26px 26px #34948f, -27px 27px #34948f, -28px 28px #34948f, -29px 29px #34948f, -30px 30px #34948f, -31px 31px #34948f, -32px 32px #34948f, -33px 33px #34948f, -34px 34px #34948f, -35px 35px #34948f, -36px 36px #34948f, -37px 37px #34948f, -38px 38px #34948f, -39px 39px #34948f, -40px 40px #34948f, -41px 41px #2b7a76, -42px 42px #2b7a76, -43px 43px #2b7a76, -44px 44px #2b7a76, -45px 45px #2b7a76, -46px 46px #2b7a76, -47px 47px #2b7a76, -48px 48px #2b7a76, -49px 49px #2b7a76, -50px 50px #2b7a76, -51px 51px #2b7a76, -52px 52px #2b7a76, -53px 53px #2b7a76, -54px 54px #2b7a76, -55px 55px #2b7a76, -56px 56px #2b7a76, -57px 57px #2b7a76, -58px 58px #2b7a76, -59px 59px #2b7a76, -60px 60px #2b7a76, -61px 61px #246663, -62px 62px #246663, -63px 63px #246663, -64px 64px #246663, -65px 65px #246663, -66px 66px #246663, -67px 67px #246663, -68px 68px #246663, -69px 69px #246663, -70px 70px #246663, -71px 71px #246663, -72px 72px #246663, -73px 73px #246663, -74px 74px #246663, -75px 75px #246663, -76px 76px #246663, -77px 77px #246663, -78px 78px #246663, -79px 79px #246663, -80px 80px #246663, -81px 81px #1b4d4a, -82px 82px #1b4d4a, -83px 83px #1b4d4a, -84px 84px #1b4d4a, -85px 85px #1b4d4a, -86px 86px #1b4d4a, -87px 87px #1b4d4a, -88px 88px #1b4d4a, -89px 89px #1b4d4a, -90px 90px #1b4d4a, -91px 91px #1b4d4a, -92px 92px #1b4d4a, -93px 93px #1b4d4a, -94px 94px #1b4d4a, -95px 95px #1b4d4a, -96px 96px #1b4d4a, -97px 97px #1b4d4a, -98px 98px #1b4d4a, -99px 99px #1b4d4a, -100px 100px #1b4d4a;
    }
}

div.text_wrapper.text_loaded {
    transform: translateX(10%) translateY(0px);
    opacity: 1;
}

.text_wrapper {
    overflow: hidden;
    position: relative;
    transform: translateX(13%) translateY(-15px);
    opacity: 0;
    margin: 0px auto;
    width: auto;
    height: auto;
    padding-bottom: 14vh;
    line-height: 5vw;
    font-size: 3vw;
    text-align: left;
    padding-left: 104px;

    color: #EDEEE9;
    font-family: 'Overpass';
    transition: 0.5s cubic-bezier(.17, .67, .83, .67) linear;
    -webkit-transition: 0.5s all cubic-bezier(.17, .67, .83, .67);
    -moz-transition: 0.5s all cubic-bezier(.17, .67, .83, .67);
    -ms-transition: 0.5s all cubic-bezier(.17, .67, .83, .67);
    -o-transition: 0.5s all cubic-bezier(.17, .67, .83, .67);
    font-weight: 100;
    text-shadow: 0px 0px #ed135c, -1px 1px #ed135c, -2px 2px #ed135c, -3px 3px #ed135c, -4px 4px #ed135c, -5px 5px #ed135c, -6px 6px #ed135c, -7px 7px #ed135c, -8px 8px #ed135c, -9px 9px #ed135c, -10px 10px #ed135c, -11px 11px #ed135c, -12px 12px #ed135c, -13px 13px #ed135c, -14px 14px #ed135c, -15px 15px #ed135c, -16px 16px #ed135c, -17px 17px #ed135c, -18px 18px #ed135c, -19px 19px #ed135c, -20px 20px #ed135c, -21px 21px #ed2f6f, -22px 22px #ed2f6f, -23px 23px #ed2f6f, -24px 24px #ed2f6f, -25px 25px #ed2f6f, -26px 26px #ed2f6f, -27px 27px #ed2f6f, -28px 28px #ed2f6f, -29px 29px #ed2f6f, -30px 30px #ed2f6f, -31px 31px #ed2f6f, -32px 32px #ed2f6f, -33px 33px #ed2f6f, -34px 34px #ed2f6f, -35px 35px #ed2f6f, -36px 36px #ed2f6f, -37px 37px #ed2f6f, -38px 38px #ed2f6f, -39px 39px #ed2f6f, -40px 40px #ed2f6f, -41px 41px #ed477e, -42px 42px #ed477e, -43px 43px #ed477e, -44px 44px #ed477e, -45px 45px #ed477e, -46px 46px #ed477e, -47px 47px #ed477e, -48px 48px #ed477e, -49px 49px #ed477e, -50px 50px #ed477e, -51px 51px #ed477e, -52px 52px #ed477e, -53px 53px #ed477e, -54px 54px #ed477e, -55px 55px #ed477e, -56px 56px #ed477e, -57px 57px #ed477e, -58px 58px #ed477e, -59px 59px #ed477e, -60px 60px #ed477e, -61px 61px #ed6b96, -62px 62px #ed6b96, -63px 63px #ed6b96, -64px 64px #ed6b96, -65px 65px #ed6b96, -66px 66px #ed6b96, -67px 67px #ed6b96, -68px 68px #ed6b96, -69px 69px #ed6b96, -70px 70px #ed6b96, -71px 71px #ed6b96, -72px 72px #ed6b96, -73px 73px #ed6b96, -74px 74px #ed6b96, -75px 75px #ed6b96, -76px 76px #ed6b96, -77px 77px #ed6b96, -78px 78px #ed6b96, -79px 79px #ed6b96, -80px 80px #ed6b96, -81px 81px #ed9ab6, -82px 82px #ed9ab6, -83px 83px #ed9ab6, -84px 84px #ed9ab6, -85px 85px #ed9ab6, -86px 86px #ed9ab6, -87px 87px #ed9ab6, -88px 88px #ed9ab6, -89px 89px #ed9ab6, -90px 90px #ed9ab6, -91px 91px #ed9ab6, -92px 92px #ed9ab6, -93px 93px #ed9ab6, -94px 94px #ed9ab6, -95px 95px #ed9ab6, -96px 96px #ed9ab6, -97px 97px #ed9ab6, -98px 98px #ed9ab6, -99px 99px #ed9ab6, -100px 100px #ed9ab6;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.box {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
}
.box a.link{
    display: block;
    font-size: 16px;
    font-family: 'Overpass';
    text-decoration: none;
    color: #333;
}
.box a.link p{
    padding: 20px;
    margin: 0;
}

.wrap_box {
    width: 620px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.back_to_realtime {
    width: 200px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 40px 0 0;
}
.back_to_realtime a{
    text-decoration: none;
    color:#00b5af;
    font-family:'Overpass';
    font-weight: 400;
}
.back_to_realtime a span{
    color:#ec145c;
}

/* SPINNER */
.square{
    transform:translateX(-50%) translateY(-50%);
    position:absolute;
    top:50%;
    left:50%;

}

.spin {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border:dashed 5px white;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
    from   {  -webkit-transform: rotate(0deg); }
    to   {  -webkit-transform: rotate(360deg); }
}


/* EMAIL REGISTER */

.mail_register{
    width: 100%;
    font-size: 18px;
    color: #7b7b7b;
    height: auto;
    background: transparent;
    z-index: 9;
    line-height: 50px;
    font-family: 'Overpass';
    font-weight: 200;
}

.mail_register p{
    margin: 0;
    margin: 0 auto;
}


/* OVERRIDE MAILCHIMP CSS */
#mc_embed_signup{background:transparent; clear:left; font:14px Overpass; width:100%;}
#mc_embed_signup input#mce-EMAIL{
    border: none;
    width: 100%;
    height: 50px;
    margin: 0px;
    left: 0px;
    padding: 0 0 0 20px;
}
#mc_embed_signup .button#mc-embedded-subscribe{
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    margin: 0;
    margin-top: 10px;
    width: 53px;
    background:#FFF url('img/social/send.svg') center center no-repeat;
    background-size: 54%;
}

input{
   outline: none;
}

#mc_embed_signup #checkbox_mandatory {
    text-align: right;
    display: block;
    font-size: 11px;
    font-family: Overpass;
    font-weight: 100;
    padding-bottom: 10px;}

#mc_embed_signup #checkbox_mandatory a{
    text-decoration: none;
    color:#333;
}



.cart_wrapper{
    height: 300px;  width: 100%;
}

.card{
    width:297px; height:300px; background: #FFF;
}
.card.left_card{
    float:left;
}
.card.right_card{
    float:right;
}

.card .image{
    width: 297px;
    height: 167px;
    -webkit-clip-path: polygon(0px 0px,0px 166px, 475px 128px, 350px 0);
}

.animated_line{
    position: absolute;
    top: 0;
    height: 2px;
    right: 0;
    width: 230px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00ada3+40,ec1e64+56,ec1e64+56 */
    background: #00ada3; /* Old browsers */
    background: -moz-linear-gradient(left, #00ada3 40%, #ec1e64 56%, #ec1e64 56%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00ada3 40%,#ec1e64 56%,#ec1e64 56%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00ada3 40%,#ec1e64 56%,#ec1e64 56%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ada3', endColorstr='#ec1e64',GradientType=1 ); /* IE6-9 */
    z-index: 99;
    animation-delay: 2s;
    animation-duration: 2s;
}

.animated_line.full{
    width: 100%;
}

/* SOCIAL */

.social_wrap{
    height: 200px;
    width: 100%;
    text-align: center;
}
.social_wrap a.facebook{
    background:url('assets/img/social/facebook.svg') center center;
    width:50px;
    height: 50px;
}

.fa{
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    display: inline;
    color:#ec145c;
    font-size: 21px !important;
}

.fa:hover {
    color:#00b5af;
}


.bg{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efebea+0,edeee9+43,bababa+100 */
    background: #efebea; /* Old browsers */
    background: -moz-linear-gradient(45deg, #efebea 0%, #edeee9 43%, #bababa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #efebea 0%,#edeee9 43%,#bababa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #efebea 0%,#edeee9 43%,#bababa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.bakeoff_modal{
    position: fixed;
    right: 40px;
    width: 243px;
    height: 198px;
    background: #ffffff;
    bottom: 40px;
}
.bakeoff_modal img{
    width:100%;

}

.bakeoff_modal a{
    text-align: center;
    text-decoration: none;
    color: #333;
    font-family: 'Overpass';
    /* font-size: 13px; */
    padding: 20px;
    line-height: 54px;
}

.bakeoff_modal a span{
    color: #7ec8d3;
}